<div class="div-space" [@routerTransition]>
    <div>
        <div class="row  card-header">
            <div class="col-6">
                <h1 class="text-muted">Carline </h1>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-success pull-right" (click)="showNuevo(contentAdd)" style="margin-top:3%;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar carline
                </button>
            </div>
        </div>
        <div class="card">
            <table datatable class="table row-border hover" *ngIf="this.temp_var">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Carline</th>
                        <th class="text-center">Descripcion</th>
                        <!--<th class="text-center">Concentradora</th>-->
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let carline of carlines; let i = index;">
                        <td> {{ i + 1 }}</td>
                        <td>{{ carline.ca_NombreCto }}</td>
                        <td>{{ carline.ca_DescripCarline }}</td>
                        <td>{{ carline.em_Descripcion }}</td>
                        <!--<td>{{ carline.em_Concentradora }}</td>-->
                        <td>
                            <button type="button" class="btn btn-success btn-circle" (click)="showUpdate(contentUpdate, carline);">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-circle" (click)="deleteCarline(carline.ca_IdCarline);">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                                                   <!-- M O D A L E S -->

<!-- Actializacion del carline -->
<ng-template #contentUpdate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Modificar CarLine</h4>
    </div>
    <div class="modal-body">
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input class="form-control" [(ngModel)]="carlineTemp.ca_NombreCto" type="text" placeholder="Nombre">
            </div>
        </div>
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Descripción de CarLine</label>
                <input class="form-control" [(ngModel)]="carlineTemp.ca_DescripCarline" type="text" placeholder="Descripción de carline">
            </div>
        </div>
        <!--<div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Descripción de empresa</label>
                <input class="form-control" [(ngModel)]="carlineTemp.em_Descripcion" type="text" placeholder="Descripción de empresa">
            </div>
        </div>-->
        <!--<div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Concentradora</label>
                <input class="form-control" [(ngModel)]="carlineTemp.em_Concentradora" type="text" placeholder="Concentradora">
            </div>
        </div>-->
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Empresa</label>
                <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="carlineTemp.em_IdEmpresa">
                    <option value="0">Seleccione una empresa</option>
                    <option *ngFor = "let empresa of empresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="updateCarline(); c('Close click');">Actualizar</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
    </div>
</ng-template>

<!-- Agregar nuevo carline -->
<ng-template #contentAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Agregar carline</h4>
    </div>
    <div class="modal-body">
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input class="form-control" [(ngModel)]="carlineAdd.pv_NombreCto" type="text" placeholder="Nombre">
            </div>
        </div>
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Descripción</label>
                <input class="form-control" [(ngModel)]="carlineAdd.pv_DescripCarline" type="text" placeholder="Descripción">
            </div>
        </div>
        <div class="row div-space">
            <div class="form-group">
                <label for="exampleInputEmail1">Empresa</label>
                <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="carlineAdd.pi_IdEmpresa">
                    <option value="0">Seleccione una empresa</option>
                    <option *ngFor = "let empresa of empresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="addCarline(); c('Close click');">Agregar</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
    </div>
</ng-template>