<div>
    <div class="row card-header div-space">
        <div class="col-6">
            <h1 class="text-muted">Tipo transmisión </h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success pull-right" (click)="openInsTU(InsTipoUnidad)"> 
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Tipo Unidad 
            </button>
        </div>
    </div>
    <div class="card">  
        <table datatable class="table row-border hover " *ngIf="this.temp_var">
            <thead>
                <tr>
                    <th *ngFor="let cabecera of cabeceras;" class="">{{cabecera}} </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipo of resultadosTipo; let i = index;">
                    <td  *ngFor="let item of items;">{{ tipo[ item ] }}</td>
                    <td> 
                        <button type="button" class="btn btn-success btn-circle" (click)="openUpdTU(UpdTipoUnidad, tipo['tu_IdTipo']);">
                            <i class="fa fa-pencil" aria-hidden="true" ></i>
                        </button> 
                        <button type="button" class="btn btn-danger btn-circle" (click)="deleteTipo(tipo['tu_IdTipo']);">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>  
</div>