<div class="div-space" [@routerTransition]>
    <div>
      <div class="row  card-header">
          <div class="col-6">
              <h1 class="text-muted">Marcasemi </h1>
          </div>
          <div class="col-6">
              <button type="button" class="btn btn-success pull-right" (click)="open(content)" style="margin-top:3%;"> 
                  <i class="fa fa-plus" aria-hidden="true"></i> Agregar marcasemi 
              </button>
          </div>
      </div>
      <div class="card">
        <table datatable class="table row-border hover" *ngIf="this.temp_var">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Descripción</th>  
                      <th>Descripción</th> 
                      <th>Concentradora</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>    
                  <tr class="text-center" *ngFor="let marcasemi of marcasemis; let i = index;">
                      <td> {{ i + 1 }}</td>
                      <td>{{ marcasemi.ms_NombreCto }}</td>
                      <td>{{ marcasemi.ms_Descripcion }}</td>
                      <td>{{ marcasemi.em_Descripcion }}</td>
                      <td>{{ marcasemi.em_Concentradora }}</td>
                      <td> 
                          <button type="button" class="btn btn-success btn-circle" (click)="openU(marcasemi.ms_NombreCto);">
                              <i class="fa fa-pencil" aria-hidden="true" ></i>
                          </button> 
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger btn-circle" (click)="deleteMarcasemi(marcasemi.ms_IdMarca);">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
  