<div class="div-space" [@routerTransition]>
    <div>
        <div class="row  card-header">
            <div class="col-6">
                <h1 class="text-muted">Directorios </h1>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-success pull-right" (click)="showNuevo(contentAdd)" style="margin-top:3%;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar directorio
                </button>
            </div>
        </div>
        <div class="card">
            <table datatable class="table row-border hover" *ngIf="this.temp_var">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let directorio of directorios; let i = index;">
                        <td> {{ i + 1 }}</td>
                        <td>{{ directorio.di_Nombre }}</td>
                        <td>{{ directorio.di_ApellidoPaterno }} {{ directorio.di_ApellidoMaterno }}</td>
                        <td>{{ directorio.di_Correo }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-circle" (click)="showUpdate(contentUpdate, directorio);">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-circle" (click)="deleteDirectorio(directorio.di_IdDirectorio);">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                                                   <!-- M O D A L E S -->

<!-- Actializacion del directorio -->
<ng-template #contentUpdate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Modificar directorio</h4>
    </div>
    <div class="modal-body">
        <div class="row div-space">
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_Nombre" type="text" placeholder="Nombre">
                        </div>
            </div>
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Apellido paterno</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_ApellidoPaterno" type="text" placeholder="Apellido paterno">
                        </div>
            </div>
            
        </div>
        <div class="row div-space">
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Apellido materno</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_ApellidoMaterno" type="text" placeholder="Apellido paterno">
                        </div>
            </div>
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Correo</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_Correo" type="text" placeholder="Correo">
                        </div>
            </div>
        </div>
        <div class="row div-space">
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Telefono</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_TelefonoOf" type="text" placeholder="Telefono">
                        </div>
            </div>
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Celular</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_TelefonoCel" type="text" placeholder="Celular">
                        </div>
                </div>
        </div>
        <div class="row div-space">
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">WhatsApp</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_WhatsApp" type="text" placeholder="WhatsApp">
                        </div>
            </div>
            <div class="col">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Facebook</label>
                            <input class="form-control" [(ngModel)]="directorioTemp.di_FaceBook" type="text" placeholder="Facebook">
                        </div>
                </div>
        </div>
        <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Empresa</label>
                                <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioTemp.em_IdEmpresa">
                                    <option value="0">Seleccione una empresa</option>
                                    <option *ngFor = "let empresa of empresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                                </select>
                            </div>
                    </div>
                    <div class="col">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Sucursal</label>
                                    <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioTemp.su_IdSucursal">
                                        <option value="0">Seleccione una sucursal</option>
                                        <option *ngFor = "let sucursal of sucursales;" [value]="sucursal.su_IdSucursal" > {{ sucursal.su_NombreCto }} </option>
                                    </select>
                                </div>
                        </div>
        </div>
        <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Puesto</label>
                                <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioTemp.pu_IdPuesto">
                                    <option value="0">Seleccione un puesto</option>
                                    <option *ngFor = "let puesto of puestos;" [value]="puesto.pu_IdPuesto" > {{ puesto.pu_Descripcion }} </option>
                                </select>
                            </div>
                    </div>
                    <div class="col">
                        
                        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="updateDirectorio(); c('Close click');">Actualizar</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
    </div>
</ng-template>

<!-- Actializacion del directorio -->
<ng-template #contentAdd let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-muted">Agregar directorio</h4>
        </div>
        <div class="modal-body">
            <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Nombre</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_Nombre" type="text" placeholder="Nombre">
                            </div>
                </div>
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Apellido paterno</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_ApellidoPaterno" type="text" placeholder="Apellido paterno">
                            </div>
                </div>
                
            </div>
            <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Apellido materno</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_ApellidoMaterno" type="text" placeholder="Apellido paterno">
                            </div>
                </div>
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Correo</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_Correo" type="text" placeholder="Correo">
                            </div>
                </div>
            </div>
            <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Telefono</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_TelefonoOf" type="text" placeholder="Telefono">
                            </div>
                </div>
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Celular</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_TelefonoCel" type="text" placeholder="Celular">
                            </div>
                    </div>
            </div>
            <div class="row div-space">
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">WhatsApp</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_WhatsApp" type="text" placeholder="WhatsApp">
                            </div>
                </div>
                <div class="col">
                        <div class="form-group">
                                <label for="exampleInputEmail1">Facebook</label>
                                <input class="form-control" [(ngModel)]="directorioAdd.pv_FaceBook" type="text" placeholder="Facebook">
                            </div>
                    </div>
            </div>
            <div class="row div-space">
                    <div class="col">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Empresa</label>
                                    <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioAdd.pi_idEmpresa">
                                        <option value="0">Seleccione una empresa</option>
                                        <option *ngFor = "let empresa of empresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                                    </select>
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <label for="exampleInputEmail1">Sucursal</label>
                                        <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioAdd.pi_IdSucursal">
                                            <option value="0">Seleccione una sucursal</option>
                                            <option *ngFor = "let sucursal of sucursales;" [value]="sucursal.su_IdSucursal" > {{ sucursal.su_NombreCto }} </option>
                                        </select>
                                    </div>
                            </div>
            </div>
            <div class="row div-space">
                    <div class="col">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Puesto</label>
                                    <select class="form-control form-control-sm" name="SelectEmpresas" [(ngModel)]="directorioAdd.pi_IdPuesto">
                                        <option value="0">Seleccione un puesto</option>
                                        <option *ngFor = "let puesto of puestos;" [value]="puesto.pu_IdPuesto" > {{ puesto.pu_Descripcion }} </option>
                                    </select>
                                </div>
                        </div>
                        <div class="col">
                            
                            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="addDirectorio(); c('Close click');">Agregar</button>
            <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
        </div>
    </ng-template>
