<div [@routerTransition]>
    <div>
        <div class="row  card-header">
            <div class="col-6">
                <h1 class="text-muted">Catalogo Unidades </h1>
            </div>
            <!-- <div class="col-6">
                <button type="button" class="btn btn-success pull-right" (click)="open(content)" style="margin-top:3%;"> 
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar promocion 
                </button>
            </div> -->
        </div>
        <div class="card">
            <table datatable class="table row-border hover" *ngIf="this.temp_var">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Catalogo</th>
                        <th>Modelo</th>
                        <th>Descripcion</th>
                        <th>Imagenes</th>
                        <th>Fichas</th>
                        <!-- <th></th> -->
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unidad of data; let i = index;">
                        <td>{{ unidad.cu_IdCatUnidad }}</td>
                        <td>{{ unidad.cu_Catalogo }}</td>
                        <td>{{ unidad.cu_Modelo }}</td>
                        <td>{{ unidad.cu_Descripcion }}</td>
                        <td> 
                            <button type="button" class="btn btn-success btn-circle" (click)="openImgModal(ModalImg, unidad.cu_IdCatUnidad);">
                                <i class="fa fa-plus" aria-hidden="true" ></i>
                            </button> 
                        </td>
                        <td> 
                            <button type="button" class="btn btn-success btn-circle" (click)="openFichaModal(ModalFicha, unidad.cu_IdCatUnidad);">
                                <i class="fa fa-plus" aria-hidden="true" ></i>
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                                                    <!-- M O D A L E S -->

<ng-template #ModalImg let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Imagenes Unidades</h4>
    </div>
    <div class="modal-body">
        <table datatable class="table row-border hover" *ngIf="this.img_var">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Editar imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imagen of resImganes; let i = index;">
                    <td> {{ i + 1 }} </td>
                    <td><img src="{{imagen.ci_RutaImagen}}" width="230"></td>
                    <td> 
                        <form [formGroup]="formImg" (ngSubmit)="updateImage(imagen.ci_IdImagen, imagen.ci_IdCatUnidad)">
                            <label class="btn btn-secondary btn-file">
                                <input name="file" type="file" (change)="onFileChangeUp($event)" formControlName="RealImg">
                                <input type="hidden" name="fileHidden" formControlName="imageInput"/> 
                                <input type="hidden" name="IdCatUnidad" formControlName="IdCatUnidad"/> 
                                <input type="hidden" name="tipoImg" formControlName="tipoImg"/>
                                <input type="hidden" name="Idimg" formControlName="Idimg"/> 
                            </label>
                            <div class="modal-footer">
                                <button class="btn btn-outline-success" type="submit">
                                    Actualizar
                                </button>
                                <button type="button" class="btn btn-danger" (click)="deleteImage(imagen.ci_IdImagen, imagen.ci_IdCatUnidad);">
                                    <i class="fa fa-trash" aria-hidden="true" ></i>
                                </button> 
                            </div>
                        </form> 
                    </td>
                    <!-- <td> 
                        <button type="button" class="btn btn-success btn-circle" (click)="openImgModal(ModalImg);">
                        <i class="fa fa-pencil" aria-hidden="true" ></i>
                        </button> 
                        <button type="button" class="btn btn-danger btn-circle" (click)="deletePromocion(Dpromo.po_IdPromocion);">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        
        <div class="row div-space">
            <div class="col">
                <h6 class="text-muted">Imagen </h6>
                <form [formGroup]="formImg" (ngSubmit)="saveImage()">
                    <label class="btn btn-secondary btn-file">Browse
                        <input name="file" type="file" (change)="onFileChange($event)" formControlName="RealImg">
                        <input type="hidden" name="fileHidden" formControlName="imageInput"/> 
                        <input type="hidden" name="IdCatUnidad" formControlName="IdCatUnidad"/> 
                        <input type="hidden" name="tipoImg" formControlName="tipoImg"/> 
                    </label>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" type="submit">Guardar</button>
                        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</ng-template>

<ng-template #ModalFicha let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 *ngIf="showFicha == 1" class="modal-title text-muted">Actualizar Ficha</h4>
        <h4 *ngIf="showFicha == 0" class="modal-title text-muted">Agregar Ficha</h4>
    </div>
    <div class="modal-body">
        <div class="row div-space text-center">
            <div *ngIf="showFicha == 1" class="col space-12">
                <!-- <pdf-viewer src="{{rutaFicha}}"></pdf-viewer> -->
                <!-- <iframe src="{{rutaFicha}}"></iframe> -->
                <a href="{{rutaFicha}}" target="_blank"><img src="assets/images/PDF.ico" width="20%"> </a>
            </div>
            <div *ngIf="showFicha == 0" class="col space-12">
                    <h3 class="text-muted">Aun no se carga un PDF</h3>
            </div>
        </div>
        <div class="row div-space" *ngIf="showFicha == 1">
            <div class="col">
                <h6 class="text-muted"> </h6>
                <form [formGroup]="formFicha" (ngSubmit)="updateFicha()">
                    <label class="btn btn-secondary btn-file">
                        <input name="file" type="file" (change)="onFileChangeFicha($event)" formControlName="RealFicha">
                        <input type="hidden" name="fileHidden" formControlName="FichaInput"/> 
                        <input type="hidden" name="caf_idCatUnidad" formControlName="caf_idCatUnidad"/> 
                        <input type="hidden" name="tipo" formControlName="tipo"/>
                        <input type="hidden" name="idFicha" formControlName="idFicha"/> 
                    </label>
                    <button type="button" class="btn btn-danger pull-right" (click)="deleteFicha();">
                        <i class="fa fa-trash" aria-hidden="true" ></i>
                    </button> 
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" type="submit">Actualizar</button>
                        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
                    </div>
                </form>
            </div>
        </div> 
        <div class="row div-space" *ngIf="showFicha == 0">
            <div class="col">
                <h6 class="text-muted"> </h6>
                <form [formGroup]="formFicha" (ngSubmit)="saveFicha()">
                    <label class="btn btn-secondary btn-file">Browse
                        <input name="file" type="file" (change)="onFileChangeFicha($event)" formControlName="RealFicha">
                        <input type="hidden" name="fileHidden" formControlName="FichaInput"/> 
                        <input type="hidden" name="caf_idCatUnidad" formControlName="caf_idCatUnidad"/> 
                        <input type="hidden" name="tipo" formControlName="tipo"/> 
                    </label>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" type="submit">Guardar</button>
                        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>