<div [@routerTransition]>
    <div>
        <div class="row  card-header">
            <div class="col-6">
                <h1 class="text-muted">Seminuevos</h1>
            </div>
        </div>
        <div class="card">
            <table datatable class="table row-border hover" *ngIf="this.temp_var">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Modelo</th>
                        <th>Numero de serie</th>
                        <th>Placas</th>
                        <th>Color</th>
                        <th>Modelo</th>
                        <th>Empresa</th>
                        <th>Sucursal</th>
                        <th>Marca</th>
                        <th>Imagenes</th>
                        <th>Atributos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let seminuevo of data; let i = index;">
                        <td>{{ seminuevo.is_IdSeminuevo }}</td>
                        <td>{{ seminuevo.is_Descripcion }}</td>
                        <td>{{ seminuevo.is_NoSerie }}</td>
                        <td>{{ seminuevo.is_Placas }}</td>
                        <td>{{ seminuevo.is_ColorExt }}</td>
                        <td>{{ seminuevo.is_Modelo }}</td>
                        <td>{{ seminuevo.em_Descripcion }}</td>
                        <td>{{ seminuevo.su_NombreCto }}</td>
                        <td>{{ seminuevo.ms_Descripcion }}</td>
                        <td> 
                            <button type="button" class="btn btn-success btn-circle" (click)="openImgModal(ModalImg, seminuevo.is_IdSeminuevo);">
                                <i class="fa fa-plus" aria-hidden="true" ></i>
                            </button> 
                        </td>
                        <td> 
                            <button type="button" class="btn btn-success btn-circle" (click)="openModalAtributos(ModalAtributos, seminuevo.is_IdSeminuevo);">
                                <i class="fa fa-plus" aria-hidden="true" ></i>
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                                                    <!-- M O D A L E S -->

<ng-template #ModalImg let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Imagenes Unidades</h4>
    </div>
    <div class="modal-body">
        <table datatable class="table row-border hover" *ngIf="this.img_var">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Editar imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imagen of resImganes; let i = index;">
                    <td> {{ i + 1 }} </td>
                    <td><img src="{{imagen.pathImagen}}" width="120"></td>
                    <td> 
                        <form [formGroup]="formImg" (ngSubmit)="updateImage(imagen.cis_idImagenSemi, imagen.cis_IdSeminuevo)">
                            <label class="btn btn-secondary btn-file">
                                <input name="file" type="file" (change)="onFileChangeUp($event)" formControlName="RealImg">
                                <input type="hidden" name="fileHidden" formControlName="imageInput"/> 
                                <input type="hidden" name="IdSemi" formControlName="IdSemi"/> 
                                <input type="hidden" name="tipoImg" formControlName="tipoImg"/>
                                <input type="hidden" name="Idimg" formControlName="Idimg"/> 
                                <input type="hidden" name="tipoImgtxt" formControlName="tipoImgtxt"/>
                                <input type="hidden" name="rutaTxt" formControlName="rutaTxt"/>
                                <input type="hidden" name="prefijoTxt" formControlName="prefijoTxt"/>
                            </label>
                            <div class="modal-footer">
                                <button class="btn btn-outline-success" type="submit">
                                    Actualizar
                                </button>

                                <button type="button" class="btn btn-danger" (click)="deleteImage(imagen.cis_idImagenSemi, imagen.cis_IdSeminuevo);">
                                    <i class="fa fa-trash" aria-hidden="true" ></i>
                                </button> 
                            </div>
                        </form> 
                        <div class="modal-footer">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3 class="text-muted">Agregar imagen</h3>
        <div class="row div-space">
            <div class="col">
                <h6 class="text-muted">Imagen </h6>
                <form [formGroup]="formImg" (ngSubmit)="saveImage()">
                    <label class="btn btn-secondary btn-file">Browse
                        <input name="file" type="file" (change)="onFileChange($event)" formControlName="RealImg">
                        <input type="hidden" name="fileHidden" formControlName="imageInput"/> 
                        <input type="hidden" name="IdSemi" formControlName="IdSemi"/> 
                        <input type="hidden" name="tipoImg" formControlName="tipoImg"/> 
                        <input type="hidden" name="tipoImgtxt" formControlName="tipoImgtxt"/>
                        <input type="hidden" name="rutaTxt" formControlName="rutaTxt"/>
                        <input type="hidden" name="prefijoTxt" formControlName="prefijoTxt"/>
                    </label>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" type="submit">Guardar</button>
                        <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</ng-template>

<!-- M O D A L E S __ A T R I B U T O S -->

<ng-template #ModalAtributos let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-6">
            <h4 class="modal-title text-muted">Atributos</h4>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success pull-right" (click)="addAtributo(1)" style="margin-top:3%;"> 
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar atributo 
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row div-space">
            <div class="col space-12">
                <table datatable class="table row-border hover" *ngIf="this.atr_var">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Atributo</th>
                            <th>Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let atributo of resAtributos; let i = index;">
                            <td> {{ i + 1 }} </td>
                            <td> {{ atributo.ctse_Descripcion }} </td>
                            <td>  
                                <button type="button" class="btn btn-success btn-sm" (click)="updAtributo(2, atributo.ctse_idAtributo);">
                                    Actualizar
                                </button> 
                                <button type="button" class="btn btn-danger pull-right" (click)="deleteAtributo(atributo.ctse_idAtributo);">
                                    <i class="fa fa-trash" aria-hidden="true" ></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div *ngIf="showAddAtributo == 1">
            <div class = "row">
                <div class="col-6">
                    <h4 class="modal-title text-muted">Agregar Atributo </h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="text-muted"> </h6>
                    <form [formGroup]="formAtributo" (ngSubmit)="saveAtributos()">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-muted">Atributo</h6>
                                <input class="form-control form-control-sm" formControlName="Atributo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" type="submit">
                                Guardar
                            </button>
                            <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="showAddAtributo == 2">
            <div class = "row">
                <div class="col-6">
                    <h4 class="modal-title text-muted">Actualizar Atributo </h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="text-muted"> </h6>
                    <form [formGroup]="formAtributo" (ngSubmit)="updateAtributos()">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-muted">Atributo</h6>
                                <input class="form-control form-control-sm" formControlName="Atributo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" type="submit">
                                Actualizar
                            </button>
                            <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" *ngIf="showAddAtributo == 3">
            <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">
                Close
            </button>
        </div>
    </div>
</ng-template>
