<div [@routerTransition]>  
    <div class="row  card-header">
        <div class="col-6">
            <h1 class="text-muted">Usuarios </h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success pull-right" (click)="openInsUs(InserUser)" style="margin-top:3%;"> 
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Usuarios 
            </button>
        </div>
    </div>
    <div class="card">
        <table datatable class="table row-border hover" *ngIf="this.temp_var">
            <thead>
                <tr>
                    <th>Número de usuario</th>
                    <th>Nombre</th>
                    <th>Correo</th>  
                    <th>Empresa</th> 
                    <th>Sucursal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>    
                <tr *ngFor="let user of data; let i = index;">
                    <td>{{ user.usu_Id }}</td>
                    <td>{{ user.NombreCompleto }}</td>
                    <td>{{ user.CorreoDireccion }}</td>
                    <td>{{ user.em_Descripcion }}</td>
                    <td>{{ user.su_NombreCto }}</td>
                    <td> 
                        <button type="button" class="btn btn-success btn-circle" (click)="openUpUs(UpdateUser, user.usu_Id, user.usu_CorreoId );">
                            <i class="fa fa-pencil" aria-hidden="true" ></i>
                        </button> 
                        <button type="button" class="btn btn-danger btn-circle" (click)="deleteUser(user.usu_Id);">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

                                                <!-- M O D A L E S -->
    <!-- Inicia el modal Insert-->
<ng-template #InserUser let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Agregar usuario</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formInsUsu" (ngSubmit)="saveUsuario()">
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Nombres </h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtNombre">
                </div>
            </div>
            <div class="row div-space">
                <div class="col-6">
                    <h6 class="text-muted">Apellido Materno</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtApellidoM">
                </div>
                <div class="col-6">
                    <h6 class="text-muted">Apellido Paterno</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtApellidoP">
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12 space-6">
                    <h6 class="text-muted">Puesto</h6>
                    <select class="form-control form-control-sm" formControlName="SelectPuesto">
                        <option value="0">Seleccione un puesto</option>
                        <option *ngFor = "let puestos of resultadoPuestos;" [value]="puestos.pu_IdPuesto" > {{ puestos.pu_Descripcion }} </option>
                    </select>
                </div>
                <div class="col-12">
                    <h6 class="text-muted">Empresa </h6>
                    <select class="form-control form-control-sm" formControlName="SelectEmpresa" 
                        (ngModelChange)="onChangeEmpresa($event)">
                        <option value="0">Seleccione una empresa</option>
                        <option *ngFor = "let empresa of resultadoEmpresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                    </select>
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Sucursal </h6>
                    <select class="form-control form-control-sm" formControlName="SelectSucursal">
                        <option value="0">Seleccione una sucursal</option>
                        <option *ngFor="let sucursal of resultadoSucursal;" [value]="sucursal.su_IdSucursal">{{sucursal.su_NombreCto}}</option>
                    </select>
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Correo</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtCorreo">
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Contrseña</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtPass">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="submit">Guardar</button>
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Inicia el modal Update-->
<ng-template #UpdateUser let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-muted">Actualizar usuario</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formUpUsu" (ngSubmit)="updateUsuario()">
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Nombres </h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtNombre">
                </div>
            </div>
            <div class="row div-space">
                <div class="col-6">
                    <h6 class="text-muted">Apellido Materno</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtApellidoM">
                </div>
                <div class="col-6">
                    <h6 class="text-muted">Apellido Paterno</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtApellidoP">
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12 space-6">
                    <h6 class="text-muted">Puesto</h6>
                    <select class="form-control form-control-sm" formControlName="SelectPuesto">
                        <option value="0">Seleccione un puesto</option>
                        <option *ngFor = "let puestos of resultadoPuestos;" [value]="puestos.pu_IdPuesto" > {{ puestos.pu_Descripcion }} </option>
                    </select>
                </div>
                <div class="col-12">
                    <h6 class="text-muted">Empresa </h6>
                    <select class="form-control form-control-sm" formControlName="SelectEmpresa" 
                        (ngModelChange)="onChangeEmpresa($event)">
                        <option value="0">Seleccione una empresa</option>
                        <option *ngFor = "let empresa of resultadoEmpresas;" [value]="empresa.em_IdEmpresa" > {{ empresa.em_Descripcion }} </option>
                    </select>
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Sucursal </h6>
                    <select class="form-control form-control-sm" formControlName="SelectSucursal">
                        <option value="0">Seleccione una sucursal</option>
                        <option *ngFor="let sucursal of resultadoSucursal;" [value]="sucursal.su_IdSucursal">{{sucursal.su_NombreCto}}</option>
                    </select>
                </div>
            </div>
            <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Correo</h6>
                    <input type="text" class="col form-control form-control-sm" formControlName="TxtCorreo">
                </div>
            </div>
            <!-- <div class="row div-space">
                <div class="col-12">
                    <h6 class="text-muted">Contrseña</h6>
                    <input type="password" class="col form-control form-control-sm" formControlName="TxtPass" disabled>
                </div>
            </div> -->
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="submit" [disabled]="!formUpUsu.valid">Actualizar</button>
                <button type="button" class="btn btn-outline-danger" (click)="c('Close click');">Close</button>
            </div>
        </form>
    </div>
</ng-template>